body {
    background-color: #fff3e6;
}

.headerBar {
  width: 100%;
  background-color: #ff9966;
  color: white;
  padding: 10px;
  text-align: center;
  h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.input {
  width: 25%;
  .tb {
    width:80%;
    padding-right: 5px;
  }
}

.listWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
  max-height: 200px;
}

.list {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.card {
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid;
  margin-left: 25%;
  margin-right: 25%;
}

.card:hover {
  background-color: #ff9966;
}

.suggestion {
  margin: 2%;
}
